<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" parallel="classes" thread-count="2">
    <test name="End to End Booking Tests">
        <classes>
            <class name="io.github.rsinha.api.restfulbooker.RestfulBookingEnd2EndTest"/>
            <!--<class name="io.github.rsinha.api.restfulbooker.RestfulBookingOneTest"/>-->
        </classes>
    </test>
</suite> <!-- Suite -->